/* MESSAGES */

.messages {
  display: grid;

  row-gap: 30px;

  padding: 10px;
  margin: 0;

  background-color: var(--blue-lightest);
}

/* MESSAGE */

.message {
  width: max-content;
  max-width: 550px;
}
