/* MAKE POST */

.makePost {
  display: grid;

  row-gap: 10px;
}

/* NEW POST TEXT */

.newPostText {
  resize: none;

  min-height: 100px;

  margin: 0;
  padding: 10px;

  border: none;

  background-color: var(--white-lighter);

  font-size: 16px;
  color: var(--grey);
}

.newPostText::placeholder {
  font-size: 16px;
  color: var(--grey);
}

.newPostText:focus {
    outline-color: var(--blue);
    outline-width: 3px;
}

/* BUTTON */

.button {
  justify-self: end;

  width: 150px;

  padding: 5px 10px;

  border-radius: none;
  border: none;

  background-color: var(--blue-light);

  color: var(--white-lighter);

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

.button:hover {
  background-color: var(--blue);
}
