/* MAKE POST */

.make-post {
  display: grid;

  row-gap: 10px;
}

/* NEW POST TEXT */

.make-post__new-post-text {
  resize: none;

  min-height: 100px;

  margin: 0;
  padding: 10px;

  border: none;

  background-color: rgb(216, 213, 213);

  font-size: 16px;
  color: gray;
}

.make-post__new-post-text::placeholder {
  font-size: 16px;
  color: gray;
}

/* BUTTON */

.make-post__button {
  justify-self: end;

  width: 150px;

  padding: 5px 10px;

  border-radius: none;
  border: none;

  background-color: yellowgreen;

  color: white;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

.make-post__button:hover {
  background-color: olivedrab;
}
