/* BUTTON */

.button {
	width: 150px;
	height: min-content;

	padding: 10px 20px;

	border-radius: var(--borderRadius);
	border: none;

	background-color: var(--blue-light);

	color: var(--white-lighter);
	font-family: inherit;

	filter: drop-shadow(1px 1px 1px var(--blue-lighter));

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
}

.button:hover {
	background-color: var(--blue);
}

.button:disabled {
	background-color: var(--blue);
}
