/* DIALOGS LIST */

.dialogsList {
  display: flex;
  flex-direction: column;

  row-gap: 5px;

  padding: 0;
}

/* DIALOG */

.dialog {
  padding: 0;
  margin: 0;

  width: max-content;

  list-style: none;
}
