/* BUTTON */
.button {
	width: auto;
	height: auto;

	padding: 0;
	margin: 0;

	background-color: transparent;

	transition: none;

	outline: none;
}

.button:hover {
	background-color: transparent;
}

/* PEN */
.pen {
	width: 20px;
	height: 20px;

	fill: var(--blue-light);

	transition-property: transform, fill;
	transition-timing-function: linear;
	transition-duration: 0.15s;

	cursor: pointer;

	outline: none;
}

.pen:hover,
.button:focus-visible .pen {
	fill: var(--blue);

	transform: scale(1.1);
}
