/* LAST COMMUNICATIONS */

.lastCommunications {
	display: grid;

	grid-template-rows: max-content max-content;

	row-gap: 20px;

	padding: 10px 5px;

	border: 1px solid var(--grey-light);
}

/* FRIENDS LIST */

.list {
	display: grid;

	grid-template-columns: repeat(3, 1fr);

	row-gap: 10px;
	column-gap: 10px;

	width: 100%;

	margin: 0;
	padding: 0;

	list-style: none;
}
