/* ABOUT LIST */

.contacts {
	display: grid;

	grid-template-columns: none;

	width: max-content;
}

/* DATA LIST */
.datalist {
	grid-column: 1/-1;

	display: grid;

	grid-template-columns: max-content 1fr;

	column-gap: 1em;

	padding: 0;
	padding-left: 15px;
	margin: 0;

	font-size: 14px;
}
