* {
  box-sizing: border-box;
}

/* PAGE */
.page {
  margin: 0 5%;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto minmax(min-content, 550px) 1fr;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-areas: "header header" "nav main" ". main";
}

/* PAGE HEADER */

.page__header {
  grid-area: header;
  background-color: darkgreen;
}

/* PAGE NAV */

.page__nav {
  grid-area: nav;
  background-color: darkgreen;
  padding: 10%;
}

/* PAGE MAIN */

.page__main {
  grid-area: main;
  background-color: whitesmoke;
}

/* PAGE FOOTER */

.page__footer {
  grid-area: footer;
  background-color: wheat;
}
