.link {
	display: inline-block;

	padding: 10px 20px;

	border-radius: var(--borderRadius);
	border: none;

	background-color: var(--blue-light);

	font-size: 11px;
	color: var(--white-lighter);
	text-decoration: none;
	text-align: center;

	filter: drop-shadow(1px 1px 1px var(--blue-lighter));

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.15s;
}

.link:hover {
	background-color: var(--blue);
}
