/* USER INFO */

.user-info {
  display: grid;

  grid-template-columns: 150px 1fr;

  column-gap: 20px;
  row-gap: 20px;
}

/* PHOTO */
.user-info__photo {
  order: -1;
  grid-row: span 2;
  border: 1px dashed black;
}

/*  FULL NAME */
.user-info__full-name {
  margin: 0;
  align-self: start;
}
