/* PHOTO */
.photo {
	height: 170px;
	order: -1;

	grid-row: 1 / -1;
}

/*  FULL NAME */
.fullName {
	align-self: start;

	font-size: 24px;
}

/* ABOUT USER */

.contacts {
	margin: 0;
}

/* BUTTON */
.button {
	grid-column: 1;
}
