/* USER INFO */

.userInfo {
  display: grid;

  grid-template-columns: 150px 1fr;

  column-gap: 20px;
  row-gap: 20px;
}

/* PHOTO */
.photo {
  width: 100%;
  min-height: 100%;;
  object-fit: cover;
  order: -1;

  grid-row: span 2;
}

/*  FULL NAME */
.fullName {
  align-self: start;

  font-size: 24px;
}

/* ABOUT USER */

.aboutUser {
  margin: 0;
}
