/* CHAT */
.chat {
	display: grid;

	grid-template-rows: min-content auto min-content;
}

/* MESSAGES */
.messages {
	margin-bottom: 10px;

	overflow-y: scroll;

	scrollbar-color: var(--blue-light) var(--blue-lightest);
}

.messages::-webkit-scrollbar {
  display: block;
	padding: 4px 0;

	background-color: var(--blue-lightest);
}
.messages::-webkit-scrollbar-thumb {
	width: calc(100% - 2px);

	background-color: var(--blue-light);
}

/* MAKE MESSAGE */

.makeMessage {
	grid-template-columns: 1fr min-content;

	height: min-content;
}

/* WITHOUT CHAT */
.withoutChat {
	grid-column: 1/-1;
	grid-row: 1/-1;

	justify-self: center;
	align-self: center;

	height: min-content;

	margin: 0;

	color: var(--black);
	font-size: 18px;
	font-weight: 500;
}
