/* PROFILE */

.profile {
	display: grid;
	row-gap: 20px;

	background-color: var(--white-lighter);
}

/* PICTURE */

.image {
	min-width: 100%;
	max-height: 150px;

	color: var(--white-lighter);
	font-size: 24px;
	font-weight: 700;
}

/* USER PROFILE */

.userInfo {
	margin-bottom: 10px;
}

/* POSTS */

.posts {
	margin-bottom: 10px;
}
