/* PROFILE */

.profile {
  background-color: var(--white-lighter);

  display: grid;
  row-gap: 20px;
}

/* PICTURE */

.image {
  min-width: 100%;
  max-height: 150px;
  object-fit: cover;

  background-color: var(--violet-lighter);

  color: var(--white-lighter);
  font-size: 24px;
  font-weight: 700;
}

/* USER PROFILE */

.userInfo {
  margin-bottom: 10px;
}

/* POSTS */

.posts {
  margin-bottom: 10px;
}
