/* PROFILE */

.profile {

  background-color:ghostwhite;

  display: grid;
  row-gap: 20px;
}

/* PICTURE */

.profile__picture {
  width: 100%;
  min-height: 150px;
  background-color: burlywood;
  color: whitesmoke;
}

/* USER PROFILE */

.profile__user-profile {
  margin-bottom: 10px;
}

/* POSTS */

.profile__posts {
  margin-bottom: 10px;
}
