.userInfo {
	display: grid;

	grid-template-columns: 150px 1fr;
	grid-template-rows: repeat(4, min-content) 1fr;

	column-gap: 20px;
	row-gap: 12px;
}

.photo {
	height: 170px;
	order: -1;

	grid-row: 1 / -1;
}
