.userInfo {
	display: grid;
	grid-template-columns: minmax(auto, 150px) 1fr;
	grid-template-rows: repeat(5, max-content) 1fr;
	column-gap: 20px;
	row-gap: 12px;
}

.photo {
	order: -1;
	grid-column: 1;
	grid-row: 1 / 3;

	width: 150px;
	height: 150px;
}

.info {
	grid-row: 2 / -1;
}

.button {
	word-break: keep-all;

	text-align: center;
}
