/* LABEL */

.label {
	display: grid;

	row-gap: 2px;

	width: 250px;

	font-size: 14px;
}

/* FIElD */

.field {
	width: 100%;

	padding: 5px;

	border-radius: 0;

	border: 1px solid var(--grey);

	box-shadow: none;

	filter: drop-shadow(1px 1px 1px var(--grey-light));
}
