/* WRAPPER */

.wrapper {
	position: fixed;

	z-index: 10;

	display: flex;

	align-items: center;
	justify-content: center;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgb(0 0 0 / 0.5);
}

/* INNER */

@keyframes show {
	from {
		transform: scale(0);
	}
	80% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

.inner {
	position: relative;

	max-height: 100vh;

	padding: 20px;
	padding-top: 30px;

	background-color: #fff;

	border-radius: var(--borderRadius);

	animation-name: show;
	animation-timing-function: ease-out;
	animation-duration: 0.25s;
}

/* BUTTON */

.button {
	position: absolute;
	z-index: 15;

	top: 10px;
	right: 10px;

	width: 20px;
	height: 20px;

	grid-row: 1;
	grid-column: -1;
}
