/* LABEL */

.label {
    display: grid;

    row-gap: 2px;

    font-size: 14px;
}

/* FIElD */

.field {
    width: 250px;

    padding: 5px;

    border-radius: 0;

    border: 1px solid var(--grey);

    box-shadow: none;

    filter: drop-shadow(1px 1px 1px var(--grey-light));
}
