/* MESSAGE */
.message {
	position: relative;

	display: grid;
	row-gap: 5px;

	height: min-content;

	padding: 15px;
	padding-top: 10px;

	border-radius: var(--borderRadius);

	background-color: var(--white-lighter);
}

.notViewed::before {
	content: '';

	position: absolute;

	bottom: 15px;
	left: -15px;

	width: min(10px);
	height: min(10px);

	background-color: var(--blue-light);

	border-radius: 50%;
}

/* AUTHOR */
.author {
	margin: 0;

	text-align: left;
	font-size: 14px;
	font-weight: 700;
	color: var(--black);
}

/* CONTENT */
.content {
	margin: 0;

	font-size: 13px;
	line-height: 1.5em;
	word-break: break-all;

	filter: drop-shadow(1px 1px 1px var(--grey-light));
}

/* DATE TIME */
.dateTime {
	justify-self: end;

	font-size: 11px;
}
