/* ABOUT LIST */

.about-user {
  display: grid;

  grid-template-columns: max-content 1fr;

  column-gap: 10px;
  row-gap: 10px;

  align-items: end;

  padding: 0;
}

/* TERM */

.about-user__term {
  padding: 0;
  margin: 0;

  font-size: 18px;
}

/* DESCRIPTION */

.about-user__description {
  padding: 0;
  margin: 0;

  font-size: 18px;
}

/* LINK */

.about-user__link {
  color: inherit;
}

/* LINK DISABLE */

.about-user__link_disable {
  text-decoration: none;

  pointer-events: none;
}
