/* HEADING */

.author {
	display: block;

	margin: 0;
	margin-bottom: 2px;

	text-align: left;
	font-size: 14px;
	font-weight: 700;
	color: var(--black);
}

/* CONTENT */

.content {
	margin: 0;
	padding: 15px;
	padding-top: 10px;

	height: min-content;

	background-color: var(--white-lighter);

	line-height: 150%;
	font-size: 13px;

	word-break: break-all;

	filter: drop-shadow(1px 1px 1px var(--grey-light));
}
