/* CHAT */

.chat {
	position: relative;

	display: grid;

	grid-template-rows: min-content 1fr min-content;

	height: clamp(100%, 80vh, 1200px);
}

/* HEADER */
.header {
	position: relative;

	z-index: 2;

	display: flex;

	align-items: center;

	column-gap: 20px;

	height: min-content;

	padding: 4px;
	background-color: var(--blue-light);

	box-shadow: 0 1px 2px var(--blue);
}

/* PHOTO */
.photo {
	width: 50px;
	height: 50px;
}

/* NAME */
.name {
	font-size: 14px;
	font-weight: 400;
	color: var(--white-lighter);
}

.name:hover {
	text-decoration: underline;
}

/* MESSAGE */

.messages {
	height: 100%;
	overflow: scroll;
}

/* MAKE MESSAGE */

.makeMessage {
	grid-template-columns: 1fr min-content;

	height: min-content;
}

/* WITHOUT CHAT */
.withoutChat {
	grid-column: 1/-1;
	grid-row: 1/-1;

	justify-self: center;
	align-self: center;

	height: min-content;

	margin: 0;

	color: var(--black);
	font-size: 18px;
	font-weight: 500;
}
