/* MESSAGES */

.messages {
	display: grid;
	grid-template-columns: 400px auto 400px;

	row-gap: 30px;

	padding: 10px;
	margin: 0;

	background-color: var(--blue-lightest);
}

/* MY MESSAGE */
.myMessage {
	grid-column: 3;
}
