/* MESSAGES */

.messages {
	display: flex;

	flex-direction: column;
	justify-content: end;
  row-gap: 10px;

	padding: 10px;
	margin: 0;

	background-color: var(--blue-lightest);
}

/* MESSAGE */
.message {
	width: 400px;
}

/* MY MESSAGE */
.myMessage {
  align-self: end;
}
