/* WRAPPER */
.wrapper {
	display: grid;

	align-items: end;

	height: 100%;

	background-color: var(--blue-lightest);
}

/* MESSAGES */
.messages {
	display: grid;

	row-gap: 10px;

	height: min-content;

	padding: 10px;
	margin: 0;
}

/* MESSAGE */
.message {
	width: 400px;
}
.message:not(.myMessage)::before {
	content: none;
}

/* MY MESSAGE */
.myMessage {
	justify-self: end;
}
