/* PAGES LIST */
.pagesList {
	display: flex;

	column-gap: 10px;

	list-style: none;
}

/* PAGE NUMBER */

.pageNumber {
	font-size: 12px;

	border: 2px solid var(--blue-light);
}

.pageNumber:hover {
	background-color: var(--blue);
	border-color: var(--blue);

	color: #fff;
}

/* SELECTED */
.selected {
	background-color: var(--blue);
	border-color: var(--blue);

	font-weight: 700;
	color: #fff;
}

/* LINK */

.link {
	display: inline-block;

	padding: 10px 20px;

	width: 100%;
	height: 100%;

	text-decoration: none;
	color: inherit;
}

/* BUTTON */

.button {
	background-color: var(--white);

	padding-top: 10px;
	padding-bottom: 10px;

	border: 2px solid var(--blue-light);

	font-size: 12px;
	color: #000;
	box-shadow: none;
	transition: none;
}

.button:hover,
.button:active {
	color: var(--white);
}
