.form {
	display: flex;

	justify-content: space-between;
	align-items: center;

	flex-wrap: wrap;

	row-gap: 10px;
}

.header {
	font-size: 18px;

	flex-basis: 100%;
}

.newStatus {
	width: 70%;
}

.acceptButton {
	width: min-content;

	padding: 10px 20px;
}
