/* TERM */

.term {
  width: max-content;

  padding: 0;
  margin: 0;

  font-size: 18px;
}

/* DESCRIPTION */

.description {
  width: max-content;

  padding: 0;
  margin: 0;

  font-size: 18px;
}

/* LINK */

.link {
  width: max-content;

  color: inherit;
}

/* LINK DISABLE */

.link_disable {
  text-decoration: none;

  pointer-events: none;
}
