/* NAVIGATION */

.navigation {
  display: flex;

  flex-direction: column;

  padding: 10%;

  background-color: var(--blue-light);
}

/* NAVIGATION LIST */

.list {
  display: grid;

  row-gap: 10px;

  padding: 0;
  margin: 0;
}

/* NAVIGATION ITEM */

.item {
  list-style: none;
  font-size: 20px;
  line-height: 100%;
}

/* NAVIGATION ITEM HIDDEN */

.item_hidden {
  height: 2em;

  visibility: hidden;
}

/* NAVIGATION LINK */

.link {
  color: var(--white);
  text-decoration: none;
}

.link_currentPage {
  text-decoration: underline;
}
