/* HEADER */

.header {
    width: 100%;
    min-width: 500px;
    min-height: 50px;

    display: flex;
    align-items: center;
  }

  /* HEADER LOGO */

  .header__logo {
    margin-left: 20px;

    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;

    width: 120px;
    height: auto;
  }
