.page {
	display: grid;
	/*
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto minmax(min-content, 500px) min-content 1fr;
	grid-template-areas: "header header" "nav main" "friends main" ". main";
 */
	column-gap: 16px;
	row-gap: 16px;

	margin: 0 auto;
}

.notLoginPage {
	grid-template-areas: 'header header' 'main main' 'main main' 'main main';
}

.header {
	grid-area: header;
}

.nav {
	grid-area: nav;
}

.main {
	grid-area: main;

	padding-bottom: 50px;
}

.lastFriends {
	grid-area: friends;

	max-height: max-content;
}

.footer {
	grid-area: footer;
}

.loading {
	height: 100vh;
}
