/* PAGE */

.page {
  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto minmax(min-content, 500px) min-content 1fr;
  grid-template-areas: "header header" "nav main" "friends main" ". main";

  column-gap: 16px;
  row-gap: 16px;

  margin: 0 auto;

  min-width: 1100px;
  max-width: 1580px;
}

/* HEADER */

.header {
  grid-area: header;
}

/* NAV */

.nav {
  grid-area: nav;
}

/* MAIN */

.main {
  grid-area: main;

  padding-bottom: 50px;
}

/* LAST FRIENDS */

.lastFriends {
  grid-area: friends;

  max-height: max-content;
}

/* FOOTER */

.footer {
  grid-area: footer;
}
