/* ITEM */

.itemWrapper {
	display: grid;

	grid-template-columns: auto 1fr max-content;
	grid-template-rows: auto 1fr max-content max-content;

	row-gap: 10px;
	column-gap: 16px;

	list-style: none;
}

/* STATUS */

.status {
	grid-column: 2;
}

/* PHOTO */

.photo {
	order: -1;

	grid-row: 1/-1;

	height: 170px;
}

/* ABOUT USER */

.contacts {
	grid-column: 2;
}

/* LINK */

.link {
	grid-column: -1;
	grid-row: -1;
}

/* BUTTON */

.button {
	grid-column: -1;
	grid-row: -2;
}
