/* HEADER */

.header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  min-height: 50px;

  background-color: var(--blue-light);
}

/* LOGO */

.logo {
  width: 120px;
}

/* AUTHORIZATION */

.authorization {
  font-size: 14px;
  color: var(--white-lighter);
}

/* LINK */

.link {
  line-height: 1em;
  text-decoration: none;
  color: var(--white-lighter);
}

.link:hover {
  text-decoration: underline;
}
