/* HEADER */

.header {
	display: flex;

	align-items: center;
	justify-content: space-between;

	padding: 0 20px;

	min-height: 50px;

	border-radius: var(--borderRadius);

	background-color: var(--blue-light);
}

@media(max-width: 1580px) {
  .header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/* LOGO */

.logo {
	width: 120px;
}

/* AUTHORIZATION */

.authorization {
	font-size: 14px;
	color: var(--white-lighter);
}

/* LINK */

.link {
	line-height: 1em;
	text-decoration: none;
	color: var(--white-lighter);
}

.link:hover {
	text-decoration: underline;
}

/* LOGOUT */

.logout {
	max-width: min-content;

	background-color: transparent;

	font-size: 14px;

	padding: 0;

	transition: none;
}

.logout:hover,
.logout:active {
	background-color: transparent;

	text-decoration: underline;
}
