/* MAIN */

.main {
	display: grid;

	grid-template-rows: repeat(2, min-content);

	justify-content: center;
}

/* HEADER */

.header {
	transform: translateX(50%);
}

/* FORM */
.form {
	margin: 0 auto;
}
