/* WRAPPER */

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrapper {
	position: relative;

	display: flex;

	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: var(--white-lightest);
}

.loading {
	width: 120px;
	height: 120px;

	animation-name: spin;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-timing-function: linear;

	border-radius: 50%;
	border: 2px solid var(--blue-lighter);

	border-bottom-color: var(--blue);
	border-bottom-width: 6px;

	background-color: var(--white-lightest);
}
