/* LABEL */
.label {
	display: grid;
	row-gap: 5px;

	font-size: 14px;
	font-weight: 500;
	letter-spacing: var(--letterSpacing);
}

/* TEXTAREA */
.textarea {
	grid-row: 2;
	grid-column: 1 / -1;

	resize: none;

	margin: 0;
	padding: 10px;

	border: none;

	border-radius: var(--borderRadius);

	background-color: var(--white-lighter);

	font-size: 16px;
	color: var(--grey);

	filter: drop-shadow(1px 1px 1px var(--grey-light))
		drop-shadow(-1px 1px 1px var(--grey-light));
}
