.form {
	display: grid;

	grid-template-columns: min-content 1fr;
	gap: 0.8em;

	align-items: center;
	justify-content: center;
}

.header {
	grid-column: 1 / -1;

	padding: 0;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.5em;
}

.photoLabel {
	grid-column: 2;
	grid-row: 2 / span 3;

	cursor: pointer;
}

.photoLabel:focus-visible {
	border: 2px solid tomato;
}

.photo {
	width: 200px;
	height: 200px;

	border-radius: var(--borderRadius);
}

.status {
	grid-column: 1;
}

.fullName {
	grid-column: 1;
}

.contacts {
	grid-column: 1 / -1;

	display: grid;

	grid-template-columns: repeat(2, 1fr);

	gap: 1em;

	padding: 0;
	margin: 0;

	border: 0;
}

.subheader {
	grid-column: span 2;

	padding: 0;
	margin-bottom: 1em;

	font-weight: 500;
}

.button {
	grid-column: 2;

	justify-self: end;
}
