/* PAGE */

.page {
  margin: 0 5%;

  display: grid;

  column-gap: 16px;
  row-gap: 16px;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto minmax(min-content, 550px) 1fr;
  grid-template-areas: "header header" "nav main" ". main";
}

/* PAGE HEADER */

.page__header {
  grid-area: header;
}

/* PAGE NAV */

.page__nav {
  grid-area: nav;
}

/* PAGE MAIN */

.page__main {
  grid-area: main;
}

/* PAGE FOOTER */

.page__footer {
  grid-area: footer;
}
