/* PAGE */

.page {
  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto minmax(min-content, 550px) 1fr;
  grid-template-areas: "header header" "nav main" ". main";

  grid-auto-flow: column dense;

  column-gap: 16px;
  row-gap: 16px;

  margin: 0 auto;

  max-width: 1560px;
}

/* HEADER */

.header {
  grid-area: header;
}

/* NAV */

.nav {
  grid-area: nav;
}

/* MAIN */

.main {
  grid-area: main;
}

/* LAST FRIENDS */

.lastFriends {
    max-height: max-content;
}

/* FOOTER */

.footer {
  grid-area: footer;
}
