/* BUTTON */

.button {
	padding: 0px;
	margin: 0;

	border: none;
	border-radius: 50%;
}

.button:hover,
.button:active,
.button:focus-visible {
	background-color: inherit;
}

/* CROSS */

.cross {
	fill: var(--blue-light);

	transition-property: transform;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	transform-origin: center;

	cursor: pointer;
}

.cross:hover,
.cross:active,
.cross:focus-visible {
	fill: var(--blue);
}
