/* DIALOG */

.dialog {
  list-style: none;
}

/* LINK */

.link {
  display: grid;

  grid-template-columns: min-content 1fr;

  column-gap: 16px;

  align-items: center;

  padding: 10px;

  text-decoration: none;

  background-color: var(--white-lighter);

  filter: drop-shadow(1px 1px 1px var(--grey-lighter))
    drop-shadow(-1px -1px 1px var(--grey-lighter));
}

.linkActive {
  background-color: var(--grey-lighter);

  filter: drop-shadow(1px 1px 1px var(--grey-light))
    drop-shadow(-1px -1px 1px var(--grey-light));
}

/* FULL NAME */

.fullName {
  padding: 5px 10px;

  font-size: 18px;
  font-weight: 400;
}

/* PHOTO */

.photo {
  order: -1;

  width: 60px;
  height: 60px;

  border-radius: 50%;
}
