/* LINK */

.link {
  display: block;
  min-width: max-content;

  text-decoration: none;
}

.linkActive {
}
/* DIALOG */

.dialog {
  display: grid;

  column-gap: 15px;

  grid-template-columns: min-content 1fr;

  align-items: center;

  min-width: 100%;

  background-color: var(--white-lighter);

  list-style: none;

  filter: drop-shadow(1px 1px 1px var(--grey-lighter))
    drop-shadow(-1px -1px 1px var(--grey-lighter));

  cursor: pointer;
}

.linkActive .dialog_current {
  background-color: var(--grey-lighter);

  filter: drop-shadow(1px 1px 1px var(--grey-light))
    drop-shadow(-1px -1px 1px var(--grey-light));
}

/* FULL NAME */

.fullName {
  max-width: 100%;

  padding: 5px 10px;

  font-size: 18px;
  font-weight: 400;
}

/* PHOTO */

.photo {
  order: -1;

  width: 60px;
  height: 60px;

  border-radius: 50%;
}
