@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.85;
	}
}

/* ERROR MESSAGE */
.errorMessage {
	display: block;

	padding: 15px 20px;

	border-radius: var(--borderRadius);

	border-color: var(--red);

	text-align: center;
	color: var(--white);
	font-weight: 500;

	animation-name: show;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
