/* NAVIGATION ITEM */

.item {
	list-style: none;
	font-size: 20px;
	line-height: 100%;
}

/* NAVIGATION LINK */

.link {
  display: inline-block;

  padding-bottom: 2px;

	border-bottom: 2px solid var(--white-lightest);

	color: var(--white-lightest);
  text-decoration: none;
}

.link:hover {
  border-bottom: 0;
}

.linkCurrentPage {
  font-weight: 500;
  border-bottom: 0;
}
