/* POST */

.post {
  display: grid;

  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;

  column-gap: 16px;

  border: 1px solid var(--grey-light);

  padding: 15px 20px;
}

/* AUTHOR */

.author {
  margin: 0;
  padding: 10px 0;

  font-size: 20px;
}

/* PHOTO */

.photo {
  order: -1;

  grid-row: span 2;

  width: 150px;
  height: 150px;

  border-radius: 50%;
}

/* CONTENT */

.content {
  align-self: start;

  margin: 0;
  padding: 0 10px;

  font-size: 18px;
  color: var(--grey);
}
