/* POST */

.post {
    display: grid;

    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content) 1fr;

    column-gap: 16px;

    border: 1px solid var(--grey-light);

    padding: 15px 20px;
}

/* AUTHOR */

.authorLink {
    max-width: max-content;

    margin: 0;
    padding: 10px 0;

    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

/* AUTHOR */

.author {
    margin: 0;
}

/* PHOTO */

.photoLink {
    order: -1;

    grid-row: span 3;
}

/* PHOTO */

.photo {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}

/* CONTENT */

.content {
    align-self: start;

    grid-column: 2;

    max-width: max-content;

    margin: 0;
    padding: 5px 10px;

    font-size: 18px;
    color: var(--grey);
}

/* DATE TIME */

.dateTime {
    max-width: max-content;

    padding: 5px;

    font-size: 14px;
    color: var(--grey);
}

/* LIKE */

.like {
    grid-column: 2;

    justify-self: end;
}
