.form {
	display: grid;
	grid-template-columns: minmax(auto, 150px) 1fr;
	grid-template-rows: repeat(2, max-content);
	gap: 1em;
}

.photo {
	grid-row: span 2;

	width: 150px;
	height: 150px;

	object-fit: cover;
	object-position: center;
}
