/* DIALOGS */

.dialogs {
  display: grid;

  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;

  row-gap: 5px;
  column-gap: 40px;

  grid-auto-flow: column dense;
}

/* HEADING */

.heading {
  grid-column: span 2;
}

/* DIALOGS LIST */

.dialogsList {
  position: relative;

  margin: 0;
  margin-left: 20px;

  min-width: max-content;
  width: 320px;
}

.dialogsList::after {
  content: "";

  position: absolute;
  right: -22px;

  width: 4px;
  height: 100%;

  background-color: var(--grey-light);
}
