/* ITEM */

.item {
    list-style: none;
}

/* Photo */

.photo {
    object-fit: cover;
}

/* NAME */

.name {
    margin: 0;
}

/* LINK */

.link {
    text-decoration: none;
    color: inherit;
}

/* SMALL */

.item.small .name {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.item.small .aboutUser {
    display: none;
}

.item.small .photo {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

/* MEDIUM */

.item.medium {
    display: grid;

    grid-template-columns: min-content 1fr;

    column-gap: 16px;
    row-gap: 10px;
}

.item.medium .photo {
    width: 120px;
    height: 150px;
}

.item.medium .link_photo {
    order: -1;

    grid-row: span 3;
}

.item.medium .name {
    font-size: 22px;
}
