/* PHOTO */
.photo,
.object {
	justify-self: center;

	object-fit: cover;
	object-position: left center;

	transition-property: filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}

.photo:hover,
.object:hover {
	filter: brightness(0.75);
}

/* OBJECT */
.object {
	position: relative;
}

.object::before {
	content: url("./download.svg");

	position: absolute;
	z-index: 10;

	top: 50%;
	left: 50%;

	width: 15%;
	height: 15%;

	display: inline-block;

	padding: 0.05em;

  opacity: 0;

	transform: translate(-50%, -50%);

  transition-property: opacity;
  transition-timing-function: inherit;
  transition-duration: inherit;
}

.object:hover::before {
  opacity: 1;
}
