.term {
	width: max-content;

	padding: 0;
	margin: 0;
}

.term::after {
	content: ': ';
}

.description {
	width: max-content;

	padding: 0;
	margin: 0;
}

.link {
	width: max-content;

	color: inherit;
}

.link_disable {
	text-decoration: none;

	pointer-events: none;
}
