.logo {
	display: inline-block;

	font-size: 14px;
	font-weight: 700;
	color: var(--white);
	text-align: center;
	text-decoration: none;
}

.image {
	width: 100%;
	height: 100%;

	object-fit: cover;
}
