/* FORM */

.form {
	display: grid;

	grid-template-columns: repeat(2, max-content);

	align-items: end;

	grid-gap: 20px;
}

/* BUTTON */

.button {
	grid-column: 2;

	justify-self: end;

	width: auto;
}

/* ERROR */
.error {
	grid-column: span 2;
}
